/* Hay dos tipos de márgenes, interno y externo 
- Interno: el espacio que hay entre el contenido y el borde. El margen interno se modifica con la propiedad padding
- Extrno: el espacio que hay entre elementos. El margen externo se modifica con la propiedad margin */

* {
    margin: 0px;
    padding: 0px;
}   

p {
    background-color: yellow;
    margin-top: 20px;
    padding: 20px;
    border :1px solid black;
}

section {
    background-color: red;
}

h1 {
    background-color: greenyellow;
}

/* La pseudo clase last-child o first-child hacen referencia al último o primer "hijo" respectivamente para 
diferenciarlos del resto si aplican estilos distintos */
section p:last-child {
    margin-top: 0;
}

/* Lo mismo de arriba pero con una clae (ultimo) en lugar de usar la pseudo clase :last-child
.ultimo {
    margin-top: 0;
} */
